#colom{
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    background-color: rgb(113, 113, 113);
    width: 310px;
}
.bttn button{
    width: 60px;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: rgb(159, 158, 158);
    color: white;
    margin: 2.5px;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}
#eq{
    width: 122.5px;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: rgb(50, 50, 50);
    color: white;
    margin: 3px;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}
#spp{
    background-color: rgb(50, 50, 50);
}
#sp{
    background-color: rgb(143, 75, 75);
}
#result{
    width: 251px; 
    margin-left: 17px; 
}
@media only screen and (max-width: 600px){
    *{
        margin: 0;
        padding: 0;
    }
    .row{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #col4{
        display: none;
    }
    #colom{
        margin: 0;
        padding: 0;
        width: 280px;
    }
    .bttn button{
        width: 55px;
        height: 40px;
        border-radius: 5px;
        margin: 2.5px;
    }
    #eq{
        width: 111.5px;
        height: 40px;
        border-radius: 5px;
        margin: 2.5px;
    }
    #result{
        width: 235px;
        margin-left: 22px; 
    }
}